pc/pc/__pycache__/urls.cpython-39.pyc
pc/CPU/__pycache__/views.cpython-39.pyc
pc/CPU/__pycache__/urls.cpython-39.pyc
pc/CPU/__pycache__/models.cpython-39.pyc
pc_shop
pc/specifics/__pycache__/admin.cpython-39.pyc
