<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% comment %} <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script> {% endcomment %}
    {% block script %}
    {% endblock%}
    <title>{% block title %}{% endblock %}</title>
    <style>
      .navbar-nav a:hover {
        color: yellow !important;
      }
    </style>
  </head>
  <body>
    {% comment %} <h1>Hello, world!</h1> {% endcomment %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
   

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
      <div class="container-xxl d-flex justify-content-between">
        <a class="navbar-brand" href="{% url 'home_page' %}"><img src="/Pc_Builder_logo.PNG" width="175" height="75"></a>
        <div class="collapse navbar-collapse d-flex justify-content-end " id="collapsibleNavbar">
          <ul class="navbar-nav fs-5">
            <li class="nav-item">
              <a class="nav-link text-white opacity-100 " href="{% url 'list' %}">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'cpu' %}">CPU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'gpu' %}">GPU</a>
            </li>  
          </ul>
        </div>
      </div>
    </nav>
    {% comment %} <div class="table-responsive"> {% endcomment %}
      {% block content %}
      {% endblock %}
    {% comment %} </div> {% endcomment %}
  </body>
</html>