{% extends 'base.html' %}
{% block title %}PC BUILDER{% endblock%}
{% block content %}
{% comment %} <div class="table-responsive"> {% endcomment %}
<div class="container" style="margin-top:150px">
    <div class="text-center table-responsive-sm">
        <h1>PC BUILDER</h1>
        <table class="display" id="test">
            <thead>
                <tr>
                    <th>Component</th>
                    <th>Selection</th>
                    <th>Base</th>
                    <th>Promo</th>
                    <th>Shipping</th>
                    <th>Tax</th>
                    <th>Price</th>
                    <th>Where</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="{% url 'cpu' %}">CPU</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">CPU Cooler</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Motherboard</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Memory</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Storage</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'gpu' %}">GPU</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Case</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Power Supply</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Operating System</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Monitor</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function() {
            $('#test').DataTable();
        } );
    </script>
{% endblock %}