{% extends 'base.html' %}
{% block title %}Choose A CPU{% endblock%}
{% block content %}
<div class="container" style="margin-top:100px">
    <div class="text-center table-responsive-sm">
        <h1>Choose A CPU</h1>
        {{cpu_lst}}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Core Count</th>
                    <th>Core Clock</th>
                    <th>Boost Clock</th>
                    <th>TDP</th>
                    <th>Integrated Graphics</th>
                    <th>SMT</th>
                    <th>Rating</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}